.alert {
  @include font-sans(22px);
  padding: 25px 40px;
  color: $color-gray-60;

  &.alert-info {
    background-color: $color-gray-transparent;
  }

  &.alert-success {
    background-color: $color-green-transparent;
  }

  &.alert-warning, &.alert-danger {
    background-color: $color-red-transparent;
  }
}
