.button {
  @include font-sans(16px);
  background-color: gray;

  padding: 13px 13px;
  line-height: 1;
  border-radius: 40px;
  cursor: pointer;
  display:inline-block;
  border: 0;

  // Remove blue border that appears for type=submit
  &:focus {
    outline: 0;
  }

  @include medium {
    font-size: 18px;
    padding: 13px 25px;
  }
}

.button.size-md {
  padding: 16px 40px;
}

.button.size-lg {
  font-size: 18px;
  padding: 16px 30px;

  @include medium {
    font-size: 22px;
    padding: 30px;
  }
}

@mixin yellow-button {
  background: $color-yellow;
  color: $color-white;

  &:hover {
    color: $color-white;
    background-color: $color-yellow-darker;
  }
}

@mixin white-button {
  color: $color-black;
  background: white;

  &:hover {
    color: $color-black;
    background-color: $color-light-gray;
  }
}

.container-white, .container-beige {
  .container-red, .container-yellow, .container-green & {
    .container-white, .container-beige & {
      .button.primary-action {
        @include yellow-button;
      }
      .button.secondary-action {
        @include white-button;
        border: 1px solid #eee; // TODO - confirm this border with Rudy
      }
    }
  }
}

.container-red, .container-yellow, .container-green {
  .container-white, .container-beige & {
    .container-red, .container-yellow, .container-green & {
      .button.primary-action {
        @include white-button;
      }
      .button.secondary-action {
        @include yellow-button;
      }
    }
  }
}

.button[disabled] {
  opacity: 0.8;
}
