.container-white {
  background-color: white;
}

.container-red {
  background-color: $color-red;
}

.container-yellow {
  background-color: $color-yellow;
}

.container-green {
  background-color: $color-green;
}
