.form-input-text {
  @include font-sans(16px);
  display: block;
  width: 100%;
  color: #000;
  background: #fff;
  border: 1px solid #cfcfcf;
  padding: 13px 15px;
  margin-bottom: 10px;

  &:focus {
    outline: 0;
    border-color: #7cb7b6;
  }

  @include medium {
    font-size: 18px;
    padding: 18px 20px;
    margin-bottom: 20px;
  }
}

.form-input-text.color-beige {
  color: $color-gray-2;
  background-color: $color-light-beige;
  border-color: $color-gray-3;

  &:focus {
    border-color: darken($color-gray-3, 10%);
  }
}

.form-input-text.size-sm {
  @include font-sans(16px);
  padding: 8px 12px;

  @include medium {
    font-size: 18px;
    padding: 10px 15px;
  }
}

.form-row-horizontal-legend {
  text-align: center;
  color: $color-gray;
  display: block;
  margin-bottom: 10px;

  @include medium {
    text-align: left;
  }
}

.form-row-horizontal-md {
  text-align: center;
  margin: 0 20px;
  @include medium {
    margin: 0;
    text-align: left;

    .form-element {
      display: inline-block;
      vertical-align: middle;
      margin-left: 5px;
      margin-bottom: 0;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
