.ws-icon-arrow-down {
  background: url($ws-icon-arrow-down) no-repeat;
  background-size: $base-icon-size $base-icon-size;
  width: $base-icon-size;
  height: $base-icon-size;
}

.ws-icon-info {
  background: url($ws-icon-info) no-repeat;
  background-size: $base-icon-size $base-icon-size;
  height: $base-icon-size;
  width: $base-icon-size;
}

.ws-icon-three-dot-spinner {
  background: url($ws-icon-three-dot-spinner) no-repeat;
  background-size: $base-icon-size-large $base-icon-size-large;
  width: $base-icon-size-large;
  height: $base-icon-size-large;
}

.ws-icon-three-dot-spinner-gray {
  background: url($ws-icon-three-dot-spinner-gray) no-repeat;
  background-size: $base-icon-size-large $base-icon-size-large;
  width: $base-icon-size-large;
  height: $base-icon-size-large;
}
