$bp-medium: 850px;
$bp-large: 1000px;
$bp-site-max-width: 1440px;

$site-max-width: 1400px;

// TODO - better naming convention for colors.
// Consolidate grays
$color-black: #121212;
$color-white: #ffffff;
$color-offwhite: #ebebeb;
$color-red: #ed5a3f;
$color-yellow: #fab131;
$color-yellow-hover: #f7a81d;
$color-faded-yellow: #fdd898;
$color-translucent-yellow: #fbbc50;
$color-green: #7cb7b6;
$color-gray: #99908a;
$color-gray-2: #969493;
$color-gray-3: #ddd;
$color-light-gray: #f2f2f2;
$color-light-beige: #faf7f5;
$color-gray-4: rgba(0, 0, 0, 0.3);
$color-gray-15: #E8E8E8;
$color-gray-20: #E1E1E1;
$color-gray-35: #B7B7B7;
$color-gray-40: #a7a7a7;
$color-gray-60: #7F7F7F;
$color-gray-65: #737373;
$color-gray-80: #453d3f;

$color-border: $color-offwhite;

$color-white-rgba: rgba(255,255,255,1.0);

$color-red-transparent: rgba($color-red, 0.2);
$color-green-transparent: rgba($color-green, 0.2);
$color-gray-transparent: rgba($color-gray, 0.2);

$base-unit: 10px;
