<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Layout &middot; Palette</title>

    <link rel="stylesheet" href="/docs.css">
  </head>
  <body>

    <header class="masthead">
      <div class="container">
        <a href="/" class="masthead-logo">
          <img src="/img/palette.png" class="logo-icon">
          Palette
        </a>

        <nav class="masthead-nav">
          <a  href="/scaffolding">Docs</a>
          <a href="https://github.com/wealthsimple/palette" target="_blank">GitHub</a>
          <a href="https://github.com/wealthsimple/palette/blob/master/README.md#install" target="_blank">Install</a>
        </nav>
      </div>
    </header>

    

    <div class="container">
      <div class="row-md docs-layout">
  <div class="col-3">
    <nav class="menu docs-menu">
  <a class="menu-item " href="/scaffolding/">
    Scaffolding
  </a>
  <a class="menu-item selected" href="/layout/">
    Layout
  </a>
  <a class="menu-item " href="/typography/">
    Typography
  </a>
  <a class="menu-item " href="/buttons/">
    Buttons
  </a>
  <a class="menu-item " href="/forms/">
    Forms
  </a>
  <a class="menu-item " href="/utilities/">
    Utilities
  </a>
</nav>

<nav class="menu docs-menu">
  <a class="menu-item " href="/guidelines/">
    Code guidelines
  </a>
  <a class="menu-item " href="/colors/">
    Colors
  </a>
</nav>

  </div>
  <div class="col-9 markdown-body">
    <h1 class="page-title">Layout</h1>
    <div class="markdown-body">
      <p>Palette’s layout includes basic page containers and a single-tiered, fraction-based grid system. That sounds more complicated than it really is though—it’s just containers, rows, and columns.</p>

<p>You can find all the below styles in <code>_grid.scss</code>.</p>

<h2 id="contents">Contents</h2>

<ul id="markdown-toc">
  <li><a href="#contents" id="markdown-toc-contents">Contents</a></li>
  <li><a href="#container" id="markdown-toc-container">Container</a></li>
  <li><a href="#grid" id="markdown-toc-grid">Grid</a>    <ul>
      <li><a href="#how-it-works" id="markdown-toc-how-it-works">How it works</a></li>
      <li><a href="#demo" id="markdown-toc-demo">Demo</a></li>
      <li><a href="#containers" id="markdown-toc-containers">Containers</a></li>
    </ul>
  </li>
</ul>

<h2 id="container">Container</h2>

<p>Center your page’s contents with a <code>.container</code>.</p>

<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
  <span class="c">&lt;!-- contents here --&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>

<p>The container applies <code>width: 1240px;</code> and uses horizontal <code>margin</code>s to center it.</p>

<h2 id="grid">Grid</h2>

<h3 id="how-it-works">How it works</h3>

<p>The grid is pretty standard—you create rows with <code>.columns</code> and individual columns with a column class and fraction class. Here’s how it works:</p>

<ul>
  <li>Add a <code>.container</code> to encapsulate everything and provide ample horizontal gutter space.</li>
  <li>Create your outer row to clear the floated columns with <code>&lt;div class="row-md"&gt;</code> or <code>&lt;div class="row-lg"&gt;</code>.</li>
  <li>Add your columns with individual <code>&lt;div class="row-..."&gt;</code>s.</li>
</ul>

<h3 id="demo">Demo</h3>

<p>In practice, your columns will look like the example below.</p>

<div class="docs-example clearfix"><div class="container">
  <div class="row-md">
    <div class="col-2">
      .col-1
    </div>
    <div class="col-10">
      .col-11
    </div>
  </div>

  <div class="row-md">
    <div class="col-6">
      .col-6
    </div>
    <div class="col-6">
      .col-6
    </div>
  </div>

  <div class="row-md">
    <div class="col-8">
      .col-8
    </div>
    <div class="col-4">
      .col-4
    </div>
  </div>
</div></div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row-md"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-2"</span><span class="nt">&gt;</span>
      .col-1
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-10"</span><span class="nt">&gt;</span>
      .col-11
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>

  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row-md"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-6"</span><span class="nt">&gt;</span>
      .col-6
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-6"</span><span class="nt">&gt;</span>
      .col-6
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>

  <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"row-md"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-8"</span><span class="nt">&gt;</span>
      .col-8
    <span class="nt">&lt;/div&gt;</span>
    <span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"col-4"</span><span class="nt">&gt;</span>
      .col-4
    <span class="nt">&lt;/div&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>

<h3 id="containers">Containers</h3>

<p>Besides the standard <code>.container</code>, you can also use:</p>

<ul>
  <li><code>.container-fluid</code> for a fullwidth container</li>
  <li><code>.container-padded</code> for a <code>.container</code> that has padding on either side</li>
  <li><code>.container-yellow</code> and <code>.container-gray</code> for colored containers</li>
</ul>

<div class="docs-example clearfix"><div class="container-padded container-yellow">
  <p>
    .container-padded .container-yellow
  </p>
</div></div>
<div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"container-padded container-yellow"</span><span class="nt">&gt;</span>
  <span class="nt">&lt;p&gt;</span>
    .container-padded .container-yellow
  <span class="nt">&lt;/p&gt;</span>
<span class="nt">&lt;/div&gt;</span></code></pre></div>


    </div>
  </div>
</div>


      <footer class="footer">
        Copyright Wealthsimple 2015.<br>
        Created and maintained by the CSS team at Wealthsimple.
      </footer>
    </div>

    <script src="/js/anchor.min.js"></script>
    <script>
      var selector = '.markdown-body h2, .markdown-body h3';
      anchors.options = {
        placement: 'left',
        class: 'anchor-link'
      };
      anchors.add(selector);
    </script>
  </body>
</html>
