@font-face {
  font-family: "FuturaPT";
  src: url("/fonts/FuturaPT-Book.eot");
  src: url("/fonts/FuturaPT-Book.eot?#iefix") format("embedded-opentype"),
    url("/fonts/FuturaPT-Book.woff2") format("woff2"),
    url("/fonts/FuturaPT-Book.woff") format("woff"),
    url("/fonts/FuturaPT-Book.ttf") format("truetype");
}

@font-face {
  font-family: "FuturaPT";
  src: url("/fonts/FuturaPT-Heavy.eot");
  src: url("/fonts/FuturaPT-Heavy.eot?#iefix") format("embedded-opentype"),
    url("/fonts/FuturaPT-Heavy.woff2") format("woff2"),
    url("/fonts/FuturaPT-Heavy.woff") format("woff"),
    url("/fonts/FuturaPT-Heavy.ttf") format("truetype");
  font-weight: 700;
}
