---
# Use a comment to ensure Jekyll reads the file to be transformed into CSS later
# only main files contain this front matter, not partials.
---

//
// Import Fabric itself
//

@import "../scss/fabric";
@import "css/anchor";
@import "css/syntax";
@import "css/github_flavored_markdown";
@import "css/fonts";


//
// Overrides
//

// Global type
html {
  font-size: 16px;
}

body {
  font-size: 1rem;
}

// Make containers responsive
.container {
  width: auto;
  max-width: 1100px;
  padding-left: 20px;
  padding-right: 20px;
}

.markdown-body {
  overflow: visible;
}


//
// Site header
//

.masthead {
  @include clearfix;
  padding-top:    1rem;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  text-align: center;
  background-color: $color-yellow;

  a {
    color: rgba(255,255,255,.7);

    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }

  .masthead-logo {
    display: inline-block;
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
  }

  @media (min-width: 34em) {
    text-align: left;

    .masthead-logo {
      float: left;
    }
  }
}

.masthead-nav {
  margin-top: 1rem;
  font-size: 1rem;

  a {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.25rem;
    }
  }

  @media (max-width: 34em) {
    padding-top: 1rem;
    border-top: .075rem solid rgba(255, 255, 255, 0.25);
  }

  @media (min-width: 34em) {
    float: right;
    margin-top: .45rem;
  }
}


//
// Homepage jumbotron
//

.jumbotron {
  margin-top: -2rem;
  margin-bottom: 3rem;
  padding-top: 2rem;
  padding-bottom: 4rem;
  background-color: $color-yellow;
  font-size: 1.25rem;
  color: #fff;
  text-align: center;

  h1 {
    font-size: 2.5em;
    font-weight: normal;
  }

  .primary-action {
    @include white-button;
  }

  @media (min-width: 34em) {
    padding-top: 6rem;
    padding-bottom: 8rem;
    font-size: 1.5rem;
    text-align: left;
  }
}

.about-that {

  @media (max-width: 760px) {
    .column {
      float: none;
      width: 100%;
      margin-bottom: 30px;
    }
  }

  p {
    padding-right: .5rem;
    color: #555;
    line-height: 1.5;
  }

  h2 {
    @include h4-sans;
    font-weight: normal;
  }
}


//
// Layout
//

.docs-layout > .markdown-body {
  ul, ol, li {
    list-style: square;
  }
  li {
    line-height: 1.5;
  }
  > h1 {
    @include h3-serif;
  }

  > h2 {
    @include h4-sans;
  }
  p {
    line-height: 1.5;
  }
}

//
// Footer
//

.footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-top: 3rem;
  line-height: 1.75;
  color: #7a7a7a;
  border-top: 1px solid #eee;

  strong {
    color: #333;
  }
}


//
// Side menu
//

.docs-menu {
  border-radius: 3px;
  border: 1px solid $color-gray-20;
  margin-bottom: 1.5rem;
  font-size: 15px;

  a {
    color: $color-dark-beige;
    &:hover {
      color: darken($color-dark-beige, 15%);
    }
  }

  .menu-item {
    position: relative;
    display: block;
    padding: 8px 10px;
    border-bottom: 1px solid $color-gray-10;
  }

  .menu-item.selected {
    color: $color-black;
    cursor: default;
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 2px;
      content: "";
      background-color: $color-red;
    }
  }


  .menu-item:first-child {
    border-top: 0;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
  }

  .menu-item:last-child {
    border-bottom: 0;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
  }

  @media (min-width: 34em) {
    margin-right: 1rem;
  }
}


//
// Examples
//

.docs-example {
  position: relative;
  padding: 15px;
  border: 1px solid #e5e5e5;
  border-radius: .25rem .25rem 0 0;

  + .highlight {
    margin-top: -1px;
    border: 1px solid #e5e5e5;
    border-radius: 0 0 .25rem .25rem;
  }

  > p:last-child,
  > .menu:last-child,
  > .tabnav:last-child,
  > blockquote:last-child {
    margin-bottom: 0;
  }

  .menu,
  .filter-list,
  .sunken-menu {
    max-width: 200px;
  }

  // Grid
  .container {
    width: 100%;
    padding-left: $grid-col-padding;
    padding-right: $grid-col-padding;
  }
  .row-md + .row-md {
    margin-top: 10px;
  }
  .row-md > div {
    padding: $grid-col-padding;
    font-family: monospace;
    background-color: lighten($color-green, 30%);
    border: 1px solid lighten($color-green, 10%);
  }

  // Override Markdown styles to restore values from `_type.scss`
  ul,
  ol {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  dl.form {
    margin: 15px 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    > dt {
      margin: 0 0 6px;
      font-style: normal;
    }

    > dd {
      padding: 0;
      margin-bottom: 0;
    }
  }

  // Flex table
  .flex-table-item > .btn {
    margin-left: 10px;
  }
}

.page-title + .markdown-body > p:first-child {
  @extend .p1;
  line-height: 1.2;
}


//
// Markdown generated ToC
//

// Hide the first child li because it's always going to be "Contents".
#markdown-toc {
 > li:first-child {
    display: none;
  }
}


//
// Branding colors
//

.swatch {
  display: inline-block;
  width: 6rem;
  height: 6rem;
  border-radius: .25rem;
}

.swatch-green { background-color: $color-green; }
.swatch-red { background-color: $color-red; }
.swatch-crusta { background-color: $color-crusta; }

.swatch-yellow { background-color: $color-yellow; }
.swatch-faded-yellow { background-color: $color-faded-yellow; }
.swatch-translucent-yellow { background-color: $color-translucent-yellow; }

.swatch-black { background-color: $color-black; }
.swatch-gray-80 { background-color: $color-gray-80; }
.swatch-gray-60 { background-color: $color-gray-60; }
.swatch-gray-40 { background-color: $color-gray-40; }
.swatch-gray-35 { background-color: $color-gray-35; }
.swatch-gray-20 { background-color: $color-gray-20; }
.swatch-gray-10 { background-color: $color-gray-10; }
.swatch-white { background-color: $color-white; }

.swatch-light-beige { background-color: $color-light-beige; }
.swatch-dark-beige { background-color: $color-dark-beige; }

.button-example {
  background-color: $color-green;
  padding: 25px;
}
